@import '../Consts.scss';

:root {
    --sandoll: sandoll-gothicneo1, sans-serif;
    --darkgreen: rgba(48, 59, 53, 1);
}

.Mobile .CommunityMain {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 252, 245, 1);
}
.Mobile .CommunityMain .writeBlock {
    width: 100%;
    min-height: 100px;
}
.Mobile .CommunityMain .feedBlock {
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer {
    width: 100%;
    border-bottom: 1px dashed #A1A28D;
    padding-bottom: 24px;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .titleContainer .title {
    font-family: var(--sandoll);
    font-size: 15px;
    font-weight: bold;
    color: rgba(48, 59, 53, 1);
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .titleContainer .dots {
    display: flex;
    gap: 5px;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .titleContainer .dots .dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(110, 118, 114, 1);
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer {
    margin-top: 22px;
    display: flex;
    gap: 11px;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer .addQuestion {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    padding: 0px;
    background-color: rgba(103, 116, 109, 1);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer .addQuestion .border {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    border: 1px solid #A1A28D;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer .addQuestion .plusVector {
    width: 20px;
    height: 20px;
    svg {
        width: 100%;
        height: 100%;
        path {
            fill: rgba(161, 162, 141, 1);
        }
    }
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    border: none;
    margin: 0px;
    width: 58px;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .newDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 110, 78, 1);
    position: absolute;
    top: -5px;
    z-index: 1;
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .profileImage {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
.Mobile .CommunityMain .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .name {
    margin-top: 10px;
    font-family: var(--sandoll);
    font-size: 10px;
    color: var(--darkgreen);
    font-weight: 100;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer {
    width: 100%;
    padding-top: 27px;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer {
    width: 100%;
    height: 47px;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer {
    height: 100%;
    display: flex;
    align-items: center;
}   
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer img.profileImage {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer .textContainer {
    margin-left: 10px;
    width: calc(100% - 47px - 50px - 10px);
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer .textContainer .nickName {
    font-family: var(--sandoll);
    font-size: 12px;
    font-weight: bold;
    color: var(--darkgreen);
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer .textContainer .tags {
    font-family: var(--GB);
    font-size: 11px;
    font-weight: 100;
    color: var(--darkgreen);
    margin-top: 7px;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer .readQuestionContainer {
    text-align: center;
    width: 50px;
}
.Mobile .CommunityMain .feedBlock .userAnswersContainer .userAnswer .headerContainer .profileContainer .readQuestionContainer .title {
    font-family: var(--sandoll);
    font-size: 9px;
    color: rgba(110, 118, 114, 0.6);
    margin-top: 5px;
}