@import '../Consts.scss';

:root {
    --sandoll: sandoll-gothicneo1, sans-serif;
    --darkgreen: rgba(48, 59, 53, 1);
}
.CommunityFeed {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 252, 245, 1);
}
.CommunityFeed button {
    margin: 0px;
}
.CommunityFeed .noticeBlock {
    width: 100%;
    min-height: 100px;
}
.CommunityFeed .feedBlock {
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}
.CommunityFeed .feedBlock .newQuestionsContainer {
    width: 100%;
    padding-bottom: 24px;
}
.CommunityFeed .feedBlock .newQuestionsContainer .titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CommunityFeed .feedBlock .newQuestionsContainer .titleContainer .title {
    font-family: var(--sandoll);
    font-size: 15px;
    font-weight: bold;
    color: rgba(48, 59, 53, 1);
}
.CommunityFeed .feedBlock .newQuestionsContainer .titleContainer .dots {
    display: flex;
    gap: 5px;
}
.CommunityFeed .feedBlock .newQuestionsContainer .titleContainer .dots .dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(110, 118, 114, 1);
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer {
    margin-top: 17px;
    width: 100%;
    height: 85px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer .slide {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 11px;
    margin-top: 5px;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer .addQuestion {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    padding: 0px;
    background-color: rgba(103, 116, 109, 1);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer .addQuestion .border {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    border: 1px solid #A1A28D;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer .addQuestion .plusVector {
    width: 20px;
    height: 20px;
    svg {
        width: 100%;
        height: 100%;
        path {
            fill: rgba(161, 162, 141, 1);
        }
    }
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    border: none;
    margin: 0px;
    width: 58px;
    flex-shrink: 0;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .newDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 110, 78, 1);
    position: absolute;
    top: -5px;
    z-index: 1;
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .profileImage {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
.CommunityFeed .feedBlock .newQuestionsContainer .questionsContainer button.newQuestion .name {
    margin-top: 10px;
    font-family: var(--sandoll);
    font-size: 10px;
    color: var(--darkgreen);
    font-weight: 100;
}
.CommunityFeed .feedBlock .userAnswersContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer {
    width: 100%;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 20px;
    border-top: 1px dashed #A1A28D;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer {
    width: 100%;
    height: 47px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer {
    height: 100%;
    display: flex;
    align-items: center;
}   
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer img.profileImage {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer .textContainer {
    margin-left: 10px;
    width: calc(100% - 47px - 50px - 10px);
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer .textContainer .nickName {
    font-family: var(--sandoll);
    font-size: 12px;
    font-weight: bold;
    color: var(--darkgreen);
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer .textContainer .tags {
    font-family: var(--GB);
    font-size: 11px;
    font-weight: 100;
    color: var(--darkgreen);
    margin-top: 7px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer .readQuestionContainer {
    text-align: center;
    width: 50px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .headerContainer .profileContainer .readQuestionContainer .title {
    font-family: var(--sandoll);
    font-size: 9px;
    color: rgba(110, 118, 114, 0.6);
    margin-top: 5px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .imageContainer {
    width: 100%;
    &::after {
        content: "";
        padding-bottom: 65%;
        display: block;
    }
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .imageContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .contentContainer {
    width: 100%;
    
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .contentContainer .title {
    font-family: var(--GB);
    font-size: 16px;
    line-height: 30px;
    color: var(--darkgreen);
    margin-top: 25px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .contentContainer .answer {
    font-family: var(--sandoll);
    font-size: 12px;
    line-height: 25px;
    color: var(--darkgreen);
    margin-top: 24px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    height: 25px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .leftContainer {
    display: flex;
    align-items: center;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .leftContainer .date {
    font-family: var(--GB);
    font-size: 12px;
    line-height: 12px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .leftContainer button.showComments {
    background-color: transparent;
    padding: 0px;
    color: var(--darkgreen);
    opacity: 0.4;
    font-family: var(--sandoll);
    font-size: 11px;
    line-height: 25px;
    margin-left: 10px;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .rightContainer {
    display: flex;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .rightContainer button {
    padding: 0px;
    background-color: transparent;
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .rightContainer button.bookmark {
    &.bookmarked {
        svg {
            path {
                fill: rgba(161, 162, 141, 1);
            }
        }
    }
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .rightContainer button.comment {
    &.openComment {
        svg {
            path {
                fill: rgba(245, 244, 235, 1);
            }
        }
    }
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .answerContainer .footerContainer .rightContainer button.emotion {
    &.checkEmotion {
        svg {
            path {
                fill: rgba(161, 162, 141, 1);
            }
        }
    }
}

.CommunityAnswerComment {
    padding: 0px 20px;
}
.CommunityAnswerComment .commentsContainer {
    
}
.writeCommentContainer,
.CommunityAnswerComment .commentContainer {
    width: 100%;
    padding: 13px 8px 13px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed rgba(161, 162, 141, 1);
    border-bottom: 1px dashed rgba(161, 162, 141, 1);
}
.CommunityFeed .feedBlock .userAnswersContainer .userAnswer .writeCommentContainer {
    border-bottom: none;
}
.CommunityAnswerComment .commentContainer {
    border: none;
}
.writeCommentContainer img.profileImage,
.CommunityAnswerComment .commentContainer img.profileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.writeCommentContainer textarea.comment,
.CommunityAnswerComment .commentContainer textarea.comment {
    width: calc(100% - 50px * 2);
    height: 25px;
    outline: none;
    border: none;
    resize: none;
    padding: 0px;
    font-family: var(--sandoll);
    font-size: 12px;
    line-height: 25px;
    opacity: 0.7;
    color: var(--darkgreen);
    &:disabled {
        color: var(--darkgreen);
        opacity: 0.7;
    }
}
.CommunityAnswerComment .commentContainer textarea.comment {
    width: calc(100% - 50px - 80px);
}
.writeCommentContainer button.upload {
    width: 32px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    font-family: var(--sandoll);
    font-size: 12px;
    color: var(--darkgreen);
    font-weight: bold;
}
.CommunityAnswerComment .commentContainer div.date {
    font-family: var(--sandoll);
    font-size: 12px;
    color: var(--darkgreen);
}