@import 'Consts.scss';

div.NoteLeftBar {
  position: absolute;
  left: 0px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 10;
  div.NoteBar {
    width: calc(50vw - #{$content-width}/2 - 8.5px);
    height: 10000px;
    padding-top: 53px;
    background: rgba(229, 231, 230, 0.2);
    &.no_background {
      background: rgba(229, 231, 230, 0);
    }
    div.title {
      width: 99px;
      margin-left: calc(100% - 147px);
    }
    div.note {
      margin: 25px 0px 0px calc(100% - 147px);
      width: 94px;
      height: 57px;

      background: #FFFFFF;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-sizing: content-box;
      &.selected {
        transform: translateX(-4px);
        border: 4px solid rgba(100, 111, 104, 0.8);
      }
    }
    div.vector {
      margin: 24px 0px 20px calc(100% - 138px);
      width: 77px;
      height: 1px;

      background: #BBC0BD;
    }
    div.add {
      background: #F2F3F3;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      img.add_image {
        border-radius: 50%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        left: calc(50% - 22px/2);
        top: calc(50% - 22px/2);
      }
    }
  }
  div.CategoryBar {
    width: 177px;
    height: 10000px;
    background: rgba(187, 192, 189, 1);
    padding-top: 53px;
    div.category_container {
      display: flex;
      flex-wrap: wrap;
      gap: 17px;
    }
    div.title, div.category {
      height: 25px;
      margin-left: 35px;
      span:not(:last-child)::after {
        content: '/';
      }
    }
  }
  &.fixed {
    position: fixed;
    left: 0px;
    top: 0px;
  }
}
.leftbar_container {
  overflow-y: hidden;
  overflow-x: visible;
  position: absolute;
  top: 0px;
  width: calc(50vw - #{$content-width}/2 - 8.5px + 177px);
  height: calc(100% + 46px);
  min-height: 100vh;
  z-index: 10;
  &.short {
    width: calc(50vw - #{$content-width}/2 - 8.5px);
  }
}

div.block {
  &.note_page, &.note_book_page {
    padding-top: 46px;
    div.questionBox {
      margin: 30px 0px 0px 0px;
      &.type2 {
        margin: 53px 0px 0px 0px;
      }
    }
  }
  &.note_book_page {
    background: rgba(229, 231, 230, 0.2);
    div.submenu_container {
      position: absolute;
      top: 53px;
      left: calc(50vw - 1032px / 2);
      margin: 0px;
      width: 183px;
      gap: 15px;
    }
  }
  &.fixed {
    position: absolute;
    float:inline-start;
    top: -112px;
    left: 0px;
    width: calc(100vw - 18px);
    height: fit-content;
    min-height: calc(100% + 158px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
}

div.margin_note {
  margin-left: $note-margin;
  width: $note-width;
  padding-bottom: 112px;
  &.border {
    border-bottom: 1px solid rgba(39, 57, 47, 0.2);
  }
}
div.written_question {
  img.block_button {
    position: absolute;
    left: 722px;
    top: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  img.order_button {
    position: absolute;
    left: 762px;
    top: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  div.orderContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 14px 0px;
    width: 105px;
    height: 99px;
    position: absolute;
    top: 40px;
    left: 692px;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 5;
    justify-content: center;
  }
}

div.submenu_container {
  div.searchContainer {
    width:183px;
    height:30px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    border: none;
    input {
      width: 150px;
    }
  }
  div.button_container {
    display: flex;
    gap: 10px;
    margin-right: 6px;
    img {
      width: 30px;
      height: 30px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    div.orderContainer {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      padding: 14px 0px;
      width: 105px;
      height: 99px;
      position: absolute;
      top: 40px;
      right: 36px;
      background: #FAFAFA;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      z-index: 5;
      justify-content: center;
    }
  }
}
div.questions_container {
  position: block;
  display: flex;
  flex-wrap: wrap;
  margin-left: 31px;
  gap: 0px 30px;
}
div.questionBox {
  width: 766px;
  height: 176px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  div.click_area {
    &:hover{
      background: rgba(249, 249, 249, 1);
    }
  }
  div.title {
    position: absolute;
    top: 21px;
    left: 38px;
    margin-left: 0px;
  }
  div.answerdate {
    position: absolute;
    top: 136px;
    left: 38px;
  }
  div.write_button {
    position: absolute;
    top: 133px;
    left: 173px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  img.delete_button {
    position: absolute;
    top: 27px;
    left: 699px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    &:hover {
      background: rgba(250, 250, 250, 1);
    }
  }
  div.content_button {
    position: absolute;
    top: 122px;
    left: 572px;
    background: rgba(0, 0, 0, 0);
    button {
      width: 160px;
      height: 27px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      &:hover {
        background: rgba(250, 250, 250, 1);
      }
    }
  }
  div.left_vector {
    position: absolute;
    top: 0px;
    left: 756px;
    div.angle {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 5px;
      height: 176px;
      background: #67746D;
    }
    div.round {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 10px;
      height: 176px;
      background: #67746D;
      border-radius: 5px;
    }
  }
  div.del_container {
    position: absolute;
    top: 65px;
    left: 487px;
    width: 241px;
    height: 94px;
    background: #FBFBFB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 19px 23px;
    gap: 15px 7px;
    button {
      width: 93px;
      height: 26px;
    }
  }
  div.show_content_container {
    width: 127px;
    height: 176px;
    position: absolute;
    top: 0px;
    left: 786px;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    img {
      margin: 7px 0px 0px 9px;
    }
    div.content_title {
      width: 90px;
      margin: 16px 0px 0px 18px;
    }
    div.content_writer {
      width: 90px;
      margin: 12px 0px 0px 18px;
    }
  }
  &.unwritten {
    height: 121px;
    div.content_button {
      position: absolute;
      top: 47px;
      left: 523px;
    }
    img.delete_button {
      position: absolute;
      top: 47px;
      left: 699px;
    }
    div.show_content_container {
      width: 108px;
      height: 105px;
      position: absolute;
      top: 7px;
      left: 795px;
      background: rgba(0, 0, 0, 0);
      box-shadow: none;
      img {
        margin: 0px;
      }
      div.content_title {
        margin: 10px 0px 0px 9px;
      }
    }
  }
  &.small {
    width: 235px;
    height: 330px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    div.title {
      top: 38px;
      left: 34px;
      width: 166px;
      text-align: center;
    }
    div.answerdate {
      top: 196px;
      left: 60px;
    }
    div.write_button {
      top: 296px;
      left: 87px;
    }
    div.content_button {
      top: 259px;
      left: 27px;
      button {
        width: 180px;
      }
    }
    div.left_vector {
      top: 230px;
      left: 0px;
      width: 100%;
      height: 10px;
      div.angle {
        width: 100%;
        height: 5px;
        top: 5px;
      }
      div.round {
        width: 100%;
        height: 10px;
      }
    }
    div.show_content_container {
      width: 100%;
      height: 230px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #FAFAFA;
      border-radius: 5px;
      img {
        width: 207px;
        height: 122px;
        margin: 13px 0px 0px 14px;
      }
      div.content_title {
        width: 191px;
        margin: 16px 0px 0px 22px;
      }
      div.content_writer {
        width: 191px;
        margin: 12px 0px 0px 22px;
      }
    }
  }
  &.type2 {
    height: 121px;
    div.content_button {
      position: absolute;
      top: 47px;
      left: 523px;
    }
    img.delete_button {
      position: absolute;
      top: 47px;
      left: 699px;
    }
    div.answerdate{
      top: -18px;
      left: 5px;
      opacity: 0.4;
    }
    div.left_vector {
      div.angle {
        height: 121px;
      }
      div.round {
        height: 121px;
      }
    }
    div.show_content_container {
      width: 108px;
      height: 105px;
      position: absolute;
      top: 7px;
      left: 795px;
      background: rgba(0, 0, 0, 0);
      box-shadow: none;
      img {
        margin: 0px;
      }
      div.content_title {
        margin: 10px 0px 0px 9px;
      }
    }
  }
  &.add {
    div.click_area {
      &:hover{
        background: rgba(234, 234, 234, 1);
      }
    }
    button.add_button {
      padding: 0px;
      position: absolute;
      top: 37px;
      left: 613px;
      width: 102px;
      height: 102px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
      img {
        margin-top: 15px;
      }
      div.text {
        margin-top: 6px;
      }
      &:hover {
        background: rgba(249, 249, 249, 1);
      }
    }
  }
}
div.note_question {
    margin-top: -145px;
    margin-left: -30px;
    height: fit-content;
    width: 786px;
    z-index: 0;
    img.background {
      height: 100%;
      opacity: 0.4;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.23));
      border-radius: 5px;
    }
    img.memento_colon {
      width: 5px;
      height: 18px;
      position: absolute;
      top: 50px;
      left: 51px;
    }
    div.question_container {
      left: 54px;
      width: 678px;
      textarea.answer_area {
        margin-top: 235px;
        width: 100%;
        height: 365px;
        font-family: GyeonggiBatang;
        resize: none;
        outline: none;
        border: none;

        background:repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 38.5px, rgba(35, 52, 42, 0.3) 38.5px, rgba(35, 52, 42, 0.3) 39.5px, rgba(0, 0, 0, 0) 39.5px);
        padding: 0px 5px;
      }
      div.characternumbers {
          float: right;
      }
      div.bottom_container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 75px;
        padding-bottom: 62px;
        gap: 24px;
        div.more {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          width: 322px;
        }
        button.white {
          width: 193px;
          height: 32px;
        }
        button.green {
          width: 113px;
          height: 32px;
        }
        div.save_container, div.upload_container, div.save_success {
          position: absolute;
          top: -106px;
          left: 436px;
          width: 241px;
          height: 94px;
          background: #FBFBFB;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          display: flex;
          flex-wrap: wrap;
          padding: 19px 23px;
          gap: 15px 7px;
          button {
            width: 93px;
            height: 26px;
          }
        }
        div.save_success {
          width: 265px;
          height: 79px;
          top: -91px;
          left: 412px;
          padding: 27px 23px;
          div {
            margin-right: 5px;
          }
          button {
            padding: 0px;
            width: 47px;
            height: 25px;
          }
        }
        div.upload_container {
          left: 298px;
        }
      }
    }
    div.image_uploader {
      width: 678px;
    }
    &.unwritten {
      height: 967px;
      margin-top: -121px;
    }
    &.small {
      float: left;
      margin-top: 46px;
    }
    &.type2 {
      margin-top: -121px;
    }
    &.add {
      margin: -176px 0px 0px 0px;
      width: 766px;
      img.background {
        opacity: 1;
      }
      div.question_container {
        left: 43px;
        textarea.answer_area {
          margin-top: 274px;
        }
      }
    }
}
div.book_container {
  div.category_container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 22px;
  }
  div.book_main {
    width: 100%;
    height: 633px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    div.side_bar_container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      width: 30px;
      height: 593px;
      margin-top: 20px;
      margin-left: 21px;
      margin-right: 9px;
      img {
        width: 30px;
        height: 30px;
        box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
      }
      div.title {
        position: absolute;
        margin-left: 30px;
        width: 593px;
        height: 30px;
        text-align: center;
        transform-origin: 0% 0%;
        transform: rotate(90deg);
        z-index: -1;
      }
    }
    div.page {
      display: inline-block;
      width: 465px;
      height: 603px;
      margin-top: 15px;
      margin-left: 13px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }
  }
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(39, 57, 47, 0.1);
}
div.add_questions_container {
  div.category_container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 22px;
    margin-top: 158px;
  }
  div.add_button_container {
    position: absolute;
    top: 45px;
    left: 797px;
    width: 234px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    button {
      padding: 0px;
      width: 100%;
      height: 60px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
    }
    div.category_total_container, div.total_container {
      width: 100%;
      height: 124px;
      display: flex;
      flex-wrap: wrap;
      padding: 18px 14px;
      text-align: center;
      justify-content: center;
      gap: 18px 10px;
      button {
        width: 98px;
        height: 28px;
        border-radius: 5px;
      }
    }
    button.category_total, div.category_total_container {
      background: rgba(187, 192, 189, 1);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      button.cancel {
        background: rgba(103, 116, 109, 0.2 );
      }
      button.add {
        background: rgba(103, 116, 109, 1);
      }
    }
    button.total, div.total_container {
      background: rgba(103, 116, 109, 1);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      button.cancel {
        background: rgba(39, 57, 47, 0.2);
      }
      button.add {
        background: rgba(39, 57, 47, 1);
      }
    }
    button.category_total:hover {
      background: rgba(153, 159, 156, 1);
    }
    button.total:hover {
      background: rgba(87, 100, 93, 1);
    }
  }
  div.empty_answered_question {
    padding: 72px 0px;
    width: 766px;
    height: 192px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1); 
    text-align: center;
  }
}
div.crop_image_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100vw - 18px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  div.imageCrop {
    margin: auto;
    margin-top: 200px;
    padding-top: 19px;
    padding-bottom: 19px;
    width: 796px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: visible;
    div.image_container {
      margin: auto;
      padding: 10px;
      width: 760px;
      min-height: 430px;
      background: #FFFFFF;
      box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    img.quit_button {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -30px;
      left: 770px;
    }
    div.bottom_container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      margin: 28px 0px 0px 28px;
      width: calc(100% - 18px - 28px);
      div.text {
        width: calc(100% - 168px * 2);
      }
      button {
        width: 158px;
        height: 50px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
      }
      button.change {
        background: rgba(187, 192, 189, 1);
      }
      button.insert {
        background: rgba(87, 100, 93, 1);
      }
    }
  }
}

div.MementoNoteMain {
  div.category_container {
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 22px;
  }
  div.MementoLogo {
    margin: 88px 0px 0px calc(50% - 205px/2);
  }
  div.UserImage {
    top: -31px;
    margin-left: calc(50% - 90px/2);
    width: 90px;
    height: 62px;
    border-radius: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
    svg.UserImage{
      width: 44px;
      height: 44px;
      top: 19px;
      left: 23px;
    }
  }
  div.explain {
    display: flex;
    flex-wrap: wrap;
    width: 678px;
    margin: 0px 0px 0px calc(50% - 678px/2);
    transform: translateY(-11px);
    justify-content: center;
    div {
      width: 100%;
      text-align: center;
    }
  }
  div.agreeCheck {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    left: calc(50% + 516px);
    top: 517px;
  }
  div.checkbox {
    width: 14px;
    height: 14px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    &.checked {
      background: rgba(35, 52, 42, 0.7);
    }
  }
  div.toolbarContainer {
    width: 100%;
    border-bottom: 1px solid rgba(110, 118, 114, 0.4) ;
  }
  div.toolbar {
    display: flex;
    gap: 212px;
    width: 690px;
    margin-left: calc(50% - 690px/2);
    justify-content: space-between;
    padding-bottom: 25px;
    div.select {
      margin-top: 19px;
      position: absolute;
      left: calc(50% - 147px/2);
      width: 147px;
      height: 6px;
      background-color: rgba(110, 118, 114, 1);
    }
  }
  div.questionContainer {
    width: 100%;
    box-sizing: content-box;
    padding: 30px;
    margin-left: -30px;
    padding-left: 30px;
    div.questions {
      transition: all 1s ease-in-out;
    }
    div.Button {
      z-index: 5;
      position: absolute;
      top: 104px;
      width: 40px;
      height: 40px;
      background-color: rgba(250, 250, 250, 1);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
    }
    div.left {
      padding: 7px 14px 6px 12px;
      left: 10px;
    }
    div.right {
      padding: 7px 12px 6px 14px;
      left: 1042px;
    }
  }
  div.questionBox {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    div.question {
      margin: 35px 76px;
      width: 348px;
      text-align: center;
    }
  }
  div.contents_bookmark {
    div.button {
      width: 28px;
      height: 28px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      &.left {
        padding: 5.5px 10.5px 5.5px 7.5px;
      }
      &.right {
        padding: 5.5px 7.5px 5.5px 10.5px;
      }
      svg {
        width: 10px;
        height: 17px;     
      }
    }
  }
}

div.margin_base {
  width: $content-width;
  margin: auto;
  height: fit-content;
}