@import 'Consts.scss';

div.submenu_container {
  margin-top:26px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: flex-end;
  gap:17px;
  div.text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.05em;

    color: #23342A;

    opacity: 0.5;
    &.selected {
      opacity: 1;
    }
  }
}
div.searchContainer {
  display: flex;
  align-items: center;
  width:149px;
  height:30px;
  background: #FFFFFF;
  border: 1px solid rgba(35, 52, 42, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  img {
    margin-left:15px;
    width: 11px;
    height: 11px;
  }
  input {
    height: 35px;
    width: 120px;
    background: rgba(1, 1, 1, 0);
    border: none;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */


    color: rgba(35, 52, 42, 1);
  }
  input:focus {
    outline:none;
  }
  input::placeholder {
    color: rgba(35, 52, 42, 0.5);
    text-align: right;
  }
}
div.main_title {
  margin-top:87px;
  height: 51px;

  font-family: GyeonggiBatang;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #23342A;
  div.sub_title {
    margin-top:10px;
    font-family: GyeonggiBatang;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
  }
}
div.list {
  margin-top: 95px;
  width:100%;
  .Q, .A {
    font-family: GyeonggiBatang;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #000000;
    margin-left: 40px;
  }
  .A {
    align-self: flex-start;
    margin-top: 40px;
    &.margin_14px {
      margin-top: 14px;
    }
  }
  div.list_content {
    display: flex;
    align-items: center;
    width:100%;
    height:80px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;

    color: #23342A;
    text-align: left;
    border-bottom: 1px solid rgba(39, 57, 47, 0.5);
    &.name {
      height: 58px;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      border-top: 2px solid #27392F;
      border-bottom: 2px solid #27392F;
    }
    &.clicked {
      background: #E9EBEA;
    }
    &.auto_height {
      height: fit-content;
      align-content: flex-start;
    }
    &.answer {
      height: fit-content;
      margin:0px;
    }
    div.block {
      margin: 0px;
      width: 100%;
    }
  }
}
div.bottommenu_container {
  margin-top: 39px;
  margin-bottom: 300px;
  width: $content-width;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div.page_container {
    margin-left: calc(1032px/2 - 300px/2);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    span {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.05em;

      color: #000000;
      &.bold {
        font-weight: bold;
      }
    }
  }
  div.write_button_margin {
    margin-left: 280px;
  }
  div.button {
    display: table;
    width: 147px;
    height: 31px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.05em;

      color: #27392F;
    }
  }
}
div.answer_block {
  display: flex;
  align-items: center;
  div.checkbox {
      width:28px;
      height:28px;
      border-radius: 50%;
      background: #F9F9F9;
      box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      div.checked {
        margin: calc(50% - 14px/2) calc(50% - 14px/2);
        width:14px;
        height:14px;
        border-radius: 50%;
        background: #27392F;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      }
  }
  div.name {
    margin-left: 30px;
  }
}

div.notice_page, div.readnotice_page {
    width: $content-width;
    margin: auto;
    div.list {
      .id {
        text-align: center;
        width:59px;
      }
      .classification {
        width: 115px;
        margin-left: 41px;
      }
      .title {
        width: 499px;
        margin-left: 53px;
      }
      .date {
        width: 124px;
        margin-left: 31px;
      }
      .views {
        width:59px;
        margin-left: 52px;
        text-align: center;
      }
    }
    div.block {
      display: flex;
      margin: 118px 0px;
      align-items: center;
      div.detail{
        margin: 0px 0px 0px 119px;
        width: 1044px;

        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        /* or 200% */


        color: #000000;

        color: #23342A;
        &.answer {
          font-weight: normal;
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 107px;
        }
      }
      &.start_end {
        align-items:flex-start;
      }
    }
}

div.readnotice_page {
  div.block {
    display: flex;
    margin-top: 101px;
    align-items: center;
    textarea.detail{
      width: 975px;
      height: auto;
      overflow: visible;
      margin: 0px 0px 0px 30px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      /* or 200% */


      color: #000000;

      border: none;
      outline: none;
      resize: none;
      background: rgba(0, 0, 0, 0);
      &.answer {
        margin-top: 101px;
        font-weight: normal;
        padding-top: 0px;
        height: 360px;
        font-size: 13px;
        line-height: 42px;
        margin-bottom: 99px;
      }
    }
  }
  div.bottommenu_container {
    margin-top: 16px;
    div.write_button_margin {
      margin-left: calc(1032px - 147px);
    }
  }
}

div.news_page {
  width: $content-width;
  margin: auto;
  div.list {
    .archive {
      width: 262px;
      margin-left: 15px;
    }
    .news_info {
      width: 472px;
      margin-left: 47px;
    }
    .tag {
      width: 140px;
      margin-left: 69px;
    }
    div.list_content {
      height: 204px;
      &.name {
        height: 58px;
      }
    }
    div.news_info {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.05em;

      color: rgba(35, 52, 42, 1);
      div.company {
        font-size: 13px;
        line-height: 16px;
        color: rgba(35, 52, 42, 0.7);
      }
      div.title {
        margin-top: 1px;
        font-size: 16px;
        line-height: 19px;
      }
      div.detail {
        margin-top: 27px;
        height: 46px;
        font-weight: 200;
        font-size: 13px;
        line-height: 20px;
      }
      div.date {
        margin-top: 7px;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
      }
    }
    div.tag {
      &.each {
        font-family: GyeonggiBatang;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        /* or 200% */

        letter-spacing: 0.05em;

        color: rgba(35, 52, 42, 0.6);
      }
    }
  }
}

div.qna_page, div.readqna_page {
  width:$content-width;
  margin:auto;
  div.classification_container {
    margin: 49px 0px 0px 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.05em;

    color: #000000;
    div {
        &:not(:last-child)::after {
            content: '/';
            font-size: 17px;
            line-height: 17px;
            padding: 0px 10px;
        }
    }
  }
  div.title {
    &.small {
      margin-top:103px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;

      color: #23342A;
    }
  }
  div.list {
    .id {
      margin-left: 16px;
      width:58px;
      text-align: center;
    }
    .classification {
      margin-left: 41px;
      width: 115px;
    }
    .writer {
      margin-left: 24px;
      width:73px;
    }
    .title {
      margin-left: 54px;
      width: 485px;
    }
    .answerdate {
      margin-left: 66px;
      width: 124px;
    }
    .open {
      width:88px;
      margin-left: 3px;
      text-align: center;
    }
    .answered {
      width:79px;
      text-align: center;
    }
    .password_name {
      margin-left: 97px;
      width: 115px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
    }
    input.password_input {
      margin-left: 40px;
      width: 530px;
      padding-left: 25px;
      color: rgba(0, 0, 0, 0.6);
      font-weight:bold;
      font-size: 14px;
      outline: none;
      border: none;
      background: #F1F1F1;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
      &:focus {
        border: none;
      }
    }
    div.password_button {
      margin-left: 18px;
      width: 154px;
      height: 40px;
      background: #27392F;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      display: table;
      div {
        display: table-cell;
        vertical-align: middle;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;

        color: #FFFFFF;

        opacity: 0.8;
      }
    }
    .answeredlet {
      font-weight: bold;
      margin-left: calc(1032px/2 - 734px/2);
      width: 734px;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
    .faq_title {
      width: 615px;
      margin-left: 35px;
    }
    .faq_answerdate {
      width: 178px;
      margin-left: 55px;
    }
    .open_close {
      margin-left: 32px;
    }
    .faq_answer {
      width: 848px;
      height: fit-content;
      padding: 0px;
      margin: 30px 0px 30px 35px;
      background: rgba(0, 0, 0, 0);
      outline: none;
      border: none;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 35px;
      /* or 176% */

      letter-spacing: 0.05em;

      color: #23342A;
    }
    &.margin_31px {
      margin-top: 31px;
    }
    &.faq {
      border-top: 1px solid rgba(39, 57, 47, 0.5);
    }
    div.list_content {
      &.auto_height {
        align-content: flex-start;
        div.Q {
          magin-top: 24px;
        }
      }
    }
  }
}

div.writenotice_page, div.writeqna_page, div.writenews_page {
  width:$content-width;
  margin: auto;
  div.list {
    width:100%;
    height:154px;
    display: table;
    div.text_container {
        display: table-cell;
        vertical-align: middle;
        div {
          font-family: GyeonggiBatang;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 40px;
          /* or 222% */

          text-align: center;
          letter-spacing: 0.05em;

          color: #000000;
        }
    }

    border-top: 2px solid #27392F;
    border-bottom: 2px solid #27392F;
  }
  input, textarea {
    border: none;
    &:focus {
      outline: none;
    }
  }
  div.type_container {
    display: flex;
    flex-wrap:wrap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.05em;

    color: #23342A;

    div.question {
      width:100%;
      margin-top: 76px;
      div.title_container {
        display: flex;
        flex-wrap:wrap;
        align-items: baseline;
        width:100%;
        div.number {
          width:74px;
          text-align: right;
          font-size: 16px;
          line-height: 21px;
        }
        div.title {
          margin-left:15px;
          font-size: 16px;
          line-height: 21px;
        }
        div.subtitle {
          margin-left: 15px;
          font-family: Noto Sans;
          font-style: normal;
          text-align: left;
          letter-spacing: 0.05em;

          color: #23342A;
          font-size: 14px;
          line-height: 19px;
          font-weight:normal;
        }
      }
      div.answer_container {
        display: flex;
        margin: 33px 0px 0px 89px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;

        color: rgba(0, 0, 0, 0.5);
        div.answer_block {
          display: flex;
          align-items: center;
          div.checkbox {
              width:24px;
              height:24px;
              border-radius: 50%;
              background: #F9F9F9;
              box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
              div.checked {
                margin: calc(50% - 14px/2) calc(50% - 14px/2);
                width:14px;
                height:14px;
                border-radius: 50%;
                background: #27392F;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
              }
          }
          div.name {
            margin-left: 14px;
          }
        }
        div:not(:first-child) {
          margin-left: 53px;
        }
        input {
          background: rgba(233, 235, 234, 0.5);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
          width: 298px;
          height: 40px;
          margin: 0px 0px 0px 33px;
          padding-left: 20px;
          border: none;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 25px;
          color: rgba(122, 121, 120, 1);
          &:focus {
            outline:none;
          }
          &::placeholder {
            color: rgba(122, 121, 120, 0.6);
          }
          &:disabled {
            background: rgba(233, 235, 234, 1);
          }
        }
      }
    }
  }
  div.write_container {
    margin: 81px 0px 0px 0px;
    padding: 76px 0px 0px 0px;
    border-top: 1px solid rgba(39, 57, 47, 0.5);
    div.write_box {
      display: flex;
      flex-wrap:wrap;
      align-items: flex-start;
      margin: 0px 0px 0px 65px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 23px;
      letter-spacing: 0.05em;

      color: #23342A;
      div.dot {
        margin: 20px 0px 0px 0px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #27392F;
        box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      }
      div.title {
        width: 79px;
        margin: 12px 0px 0px 13px;
      }
      input {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 25px;
        /* identical to box height, or 167% */

        letter-spacing: 0.05em;

        color: rgba(122, 121, 120, 1);
        margin: 0px 0px 0px 14px;
        padding-left: 23px;
        width: 797px;
        height: 54px;
        background: #E9EBEA;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        &:focus {
          background: rgba(233, 235, 234, 0.5);
        }
        &.white {
          background: #FFFFFF;
          border: 1px solid #E9EBEA;
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        }
        &.short {
          width: 589px;
        }
      }
      textarea {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 25px;
        /* identical to box height, or 167% */

        letter-spacing: 0.05em;

        color: rgba(122, 121, 120, 1);
        margin: 0px 0px 0px 14px;
        padding: 18px 23px;
        width: 797px;
        height: 270px;

        background: #E9EBEA;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);

        resize: none;

        &::placeholder {
          color: rgba(122, 121, 120, 0.5);
        }
        &:focus {
          background: rgba(233, 235, 234, 0.5);
        }
      }
      div.bottom_text {
        margin: 14px 0px 0px 118px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.05em;

        color: #23342A;
        div {
          margin: 0px 0px 0px 0px;
        }
      }
      div.characternumbers {
        margin: 14px 0px 0px 350px;
        text-align: right;
        width: 180px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.05em;

        color: #23342A;
      }
      div.button {
        width: 177px;
        height: 54px;
        margin: 0px 0px 0px 31px;
        background: #E9EBEA;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        display: table;
        div.button_text {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          letter-spacing: 0.05em;

          color: #23342A;
        }
      }
      div.text {
        margin: 15.5px 0px 0px 30px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height */

        letter-spacing: -0.05em;

        color: #000000;
        div {
          span.small {
            font-size: 14px;
            font-weight: normal;
          }
        }
        div:not(:first-child) {
          margin-top: 33px;
        }
      }
      div.answer_block {
        margin: 15.5px 0px 0px 0px;
      }
    }
    div:not(:first-child) {
      margin-top: 43px;
    }
    div.margin_150px {
      margin-left: 0px;
      padding-left: 65px;
      margin-top: 82px;
      padding-top: 88px;
      border-top: 1px solid rgba(39, 57, 47, 0.3);
    }
  }
  div.submit_container {
    display: flex;
    flex-wrap: wrap;
    width: 442px;
    justify-content: space-between;
    margin: 115px 0px 315px calc(1032px/2 - 442px/2);
  }
  div.submit {
    display: inline-block;
    width: 206px;
    height: 48px;

    background: #3B4B42;
    box-shadow: 0px 4px 4px rgba(21, 31, 26, 0.4);
    border-radius: 40px;
    display: table;
    div {
      display: table-cell;
      vertical-align: middle;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.05em;

      color: #FFFFFF;
    }
    &.cancel {
      background: #F8F8F8;
      box-shadow: 0px 1px 13px 2px rgba(21, 31, 26, 0.15);
      div {
        color : #3B4B42;
      }
    }
  }
}

div.readqna_page {
  width: $content-width;
  margin: auto;
  div.list {
    div.list_content {
      &.answer {
        display: block;
        border-bottom: 1px solid rgba(39, 57, 47, 0.5);
      }
    }
    div.block {
      display: flex;
      margin-top: 52px;
      align-items: center;
      height: fit-content;
      textarea.detail{
        width: 834px;
        height: fit-content;
        min-height: 0px;
        overflow: visible;
        padding-top: 7px;
        margin: 0px 0px 0px 30px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;

        color: #23342A;

        border: none;
        outline: none;
        resize: none;
        background: rgba(0, 0, 0, 0);
        &.answer {
          font-weight: normal;
          font-size: 14px;
          line-height: 35px;
          margin-bottom: 84px;
        }
      }
      &.start_end {
        align-items:flex-start;
      }
    }
  }
  div.bottommenu_container {
    div.write_button_margin {
      margin-left: calc(1032px - 147px);
      div.button {
        margin-top: 20px;
      }
    }
  }
}
